//TODO навести красоту
    затестить - сливаются ли несколько css в один
    html " js '
    шаблон погоды в паге


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Lab1
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
        //style include style.scss
    body#bodyID
        form#formID(action="#")
            label#lbl(for="searchInp") Input city
            input#searchInp
            input#submit(type="submit" value="Submit")
            //script include main.js
        #graphWeather
            #errorID
            img#picID
            #placeID
            #weatherID
            #temperature
            #wind
