html {
	overflow: hidden
}

$font_size: 15pt;

#Body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-size: $font_size;
    //background-image: url("123.png");
    //background-size: cover;
}
#formID{
	width: 50%;
	display: flex;
	justify-content: center;
}
#searchInp, #submit, #lbl{
  font-size: $font_size;
}

#graphWeather{
  height: 400px;
  width: 50%;
  //border: black solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#searchInp{
	margin-left: 20px;
	flex-grow: 3;
}

#placeID{
  margin-bottom: 20px;
  font-size: 17pt;
  font-weight: bold;
}

#errorText{
	white-space: pre;
}
